@import 'variables';
@import 'mixins';

*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

body{
  background-color: map-get($color,greenLight);
}

.cardCarousel {
  height: 100px;
  margin-left: 100px;
}

.plano {
  
  width: 418px;
  height: 507px;
  left: 5px;
  top: 165px;
}

.contentCarruselt {
  
width: 428px;
height: 250px;
left: 0px;
top: 678px;
}

.buttonCar {
  background-color: black;
}

.carousel {
  position: absolute;
    bottom: 0;
    width: 100%;
}


/* body{
  @include roboto-regular(map-get($color,black),map-get($font-size,m));
  background-image: url('../assets/img/background-stars.jpg');
}
.backgroundHome__image{
  width: 100%;
}
a {
  color: map-get($color,white);
  text-decoration: none;
  margin: 10px;
  font-size: map-get($font-size,ml);
  @include breakpoint(700px) {
    margin: 10px 30px;
    font-size: map-get($font-size,xxl);
  }
}
*/