@import 'variables';
@import 'mixins';

*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

body{
  background-color: map-get($color,greenLight);
}

/*Carrusel*/
.imageCorousel{
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.containerImageText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: map-get($color,colorWhite);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}
.containerImageText img {
  width: 20%;
}
.textCarousel {
  margin-left: 10px;
}
.textCarousel h5{
  color: map-get($color,greyLight);
  font-size: map-get($font-size,m);
  text-align: center;
  margin: 0;
}
.textCarousel p {
  font-size: map-get($font-size,m);
  color: map-get($color,greenDark);
  text-align: center;
  margin: 0;
}
.plano {
  width: 418px;
  height: 507px;
  left: 5px;
  top: 165px;
}
.carouselMainContainerl{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0px 30px;
}
.contentCarrusel {
  width: 100% !important;
}
.contentCarrusel button {
  margin-top: 40px;
  background-color: #10C94A;
  border-radius: 30px;
  height: 30px;
  width: 30px;
}
.contentCarrusel span {
  width: 15px;
}
.buttonCar {
  background-color: black;
}
.carousel {
  //position: absolute;
  bottom: 0;
  width: 100%;
}
/*vista products*/
.headerProducts {
  background-color: map-get($color,colorWhite);
  padding: 10px 30px 0px;
  margin-bottom: 20px;
}
.headerProducts img {
  width: 15%;
  margin: 0px 0px 30px;
}
.headerProducts h1 {
  color: map-get($color,greenMedium);
  font-size: map-get($font-size,x);
}
.headerProducts hr {
  color: map-get($color,greenMedium);
  width: 30px;
  height: 2px;
  margin: 0px;
}
.headerProducts i {
  font-size: 25px;
  color: map-get($color,greenMedium);
  margin-right: 5px;
}

/* searchProducts */
.searchProducts {
  margin: 0px 30px 30px;
}

.mySearchProducts {
  text-decoration: none;
  border-radius: 10px;
  border: 0px;
  background-color: map-get($color,colorWhite);
  color: map-get($color,greenMedium);
}
.mySearchProducts::placeholder {
  color: map-get($color,greenMedium);
}
.titleProducts {
  color: map-get($color,greyLight);
  margin-left: 30px;
}
.titleProducts h2 {
  font-size: map-get($font-size,ml);
}

/*containerProduts*/
.myCard {
  width: 150px;
  background-color: map-get($color,colorWhite);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 15px;
  //margin: 20px 20px 20px 0px;
}
.myCard img {
  width: 55%;
  margin: 10px 10px 5px;
}
.containerProduts {
  margin: 0px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.myCard h5 {
  font-size: map-get($font-size,m);
  color: map-get($color,greyLight);
  text-align: center;
  margin: 0;
}
.myCard p {
  font-size: map-get($font-size,m);
  color: map-get($color,greenDark);
  text-align: center;
  margin: 0;
}
.cardButtons {
  display: flex;
  flex-direction: column;
}
.cardButtons button {
  font-size: map-get($font-size,s);
  width: 130px;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid #10C94A;
  margin: 5px;
  background-color: map-get($color,colorWhite);
  color: map-get($color,greenMedium);
}

/*vista location*/
.contenedorTotal {
  margin: 10px 30px 40px;
} 
.containerBack {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.containerBack i {
  text-decoration: none;
  border: 0;
  color: map-get($color,greenMedium);
  font-size: 25px;
}
.containerBack p {
  margin-top: 10px;
  margin-left: 10px;
  color: map-get($color,greenMedium);
  font-size: map-get($font-size,m);
}
.containerImage img{
  margin: 0;
  padding: 0;
  width: 100%;
}
.containerTextProduct {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: map-get($color,colorWhite);
}
.containerTextProduct p {
  border-radius: 30px;
  text-align: center;
  width: 250px;
  padding: 5px;
  background-color: map-get($color,greenLight);
  color: map-get($color,greenMedium);
}
.titleCarousel {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
.titleCarousel h1 {
  color: map-get($color,greenMedium);
  font-size: map-get($font-size,m);
}
.titleCarousel hr {
  color: map-get($color,greenMedium);
  width: 30px;
  height: 2px;
  margin: 0px;
}
/* body{
  @include roboto-regular(map-get($color,black),map-get($font-size,m));
  background-image: url('../assets/img/background-stars.jpg');
}
.backgroundHome__image{
  width: 100%;
}
a {
  color: map-get($color,white);
  text-decoration: none;
  margin: 10px;
  font-size: map-get($font-size,ml);
  @include breakpoint(700px) {
    margin: 10px 30px;
    font-size: map-get($font-size,xxl);
  }
}
*/