@import 'variables';
@import 'mixins';

*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

/* body{
  @include roboto-regular(map-get($color,black),map-get($font-size,m));
  background-image: url('../assets/img/background-stars.jpg');
}
.backgroundHome__image{
  width: 100%;
}
a {
  color: map-get($color,white);
  text-decoration: none;
  margin: 10px;
  font-size: map-get($font-size,ml);
  @include breakpoint(700px) {
    margin: 10px 30px;
    font-size: map-get($font-size,xxl);
  }
}
*/